* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./weather.jpg');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.weather-app {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.city-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.city-date-section {
    text-align: center;
    margin-bottom: 20px;
    color:blueviolet;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.date {
    color: orange;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
 }
 

 .temperature-info {
    text-align: center;
    margin-bottom: 20px;
    color: red;
    font-style: italic;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.description-text {
    margin-left: 5px;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.wind-info div ,
.humidity-info div,
.visibility div {
   text-align:centre;

}


