body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./weather.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.weather-app {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn {
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.city-date-section {
    text-align: center;
    margin-top: 20px;
}

.temperature-info {
    text-align: center;
    margin-top: 20px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    color:#007bff
}

.additional-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.wind-info,
.humidity-info,
.visibility-info {
    display: flex;
    align-items: center;
}

.wind-info i,
.humidity-info i,
.visibility-info i {
    margin-right: 10px;
}

.wind-info h3,
.humidity-info h3,
.visibility-info h3 {
    margin: 0;
}

.wind-label,
.humidity-label,
.visibility {
    margin: 0;
}

